* {
  margin: 0;
}

html {
  font-family: "Barlow Semi Condensed", sans-serif;
}

:root {
  --purple: rgba(115, 63, 200, 1);
  --grey-100: rgba(28, 35, 48, 1);
  --grey-90: rgba(72, 85, 106, 1);
  --white-100: rgba(255, 255, 255, 1);
  --white-70: rgba(255, 255, 255, 0.7);
  --white-50: rgba(255, 255, 255, 0.5);
  --background: #ecf2f8;
}

body {
display: flex;
justify-content: center;
align-items: center;
height: 100vh;
width: 100vw;
background-color: var(--background);
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 2rem;
  width: 80vw;
  /* height: 80vh; */
  background-color: pink;
}

@media(max-width: 375px) {
    .grid-container {
        grid-template-columns: 1;
        grid-template-rows: auto;
        width: 90vw
    }
}

.testimonial {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  background-color: var(--white-100);
  padding: 1.5rem 2rem;
  border-radius: 0.5rem;
  box-shadow: 40px 60px 50px -47px rgba(72, 85, 106, 0.247378);
}

/*Name and Image*/
.img-name {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.img-container {
display: flex;
justify-content: center;
align-items: center;
overflow: hidden;
width: 1.75rem;
height: 1.75rem;
border: 2px solid var(--grey-100);
border-radius: 50%;
}

img {
    width: 100%;
    height: 100%;
}

.name-container {
  display: inherit;
  flex-direction: column;
  gap: 0.25rem;
}

p.name {
  font-family: "Barlow Semi Condensed";
  font-style: normal;
  font-weight: 500;
  font-size: 13px;
  line-height: 13px;
}

p.verification {
  font-family: "Barlow Semi Condensed";
  font-style: normal;
  font-weight: 500;
  font-size: 11px;
  line-height: 11px;
  color: var(--white-50);
}

/*Content*/

h1 {
    font-family: 'Barlow Semi Condensed';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
}

h2 {
  font-family: "Barlow Semi Condensed";
  font-style: normal;
  font-weight: 500;
  font-size: 0.8125rem;
  line-height: 1.125rem;
  color: #cfcfcf;
}

/*Styling the Tiles and Layout*/

.daniel.testimonial {
   grid-column: 1/ 4;
    grid-row: 1 / 2;
    background-color: var(--purple);
    background-image: url(/images/bg-pattern-quotation.svg);
    background-repeat: no-repeat;
    background-position: 75% 0%;
    background-size: auto;
}

@media(max-width: 375px) {
    .daniel.testimonial {
        grid-column: 1;
    }
}


.daniel.img-container {
    border: 2px solid rgba(167, 117, 241, 1);
  }







.jonathan.testimonial {
    grid-column: 4 / 5;
    grid-row: 1 / 2;
    background-color: var(--grey-100);
}


@media(max-width: 375px) {
    .jonathan.testimonial {
        grid-column: 1;
    }
}

.jonathan.img-container {
    border: 2px solid rgba(72, 85, 106, 1);
  }

.jeanette.testimonial {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
}


@media(max-width: 375px) {
    .jeanette.testimonial {
        grid-column: 1;
    }
}

.jeanette .img-container {
    border: 2px solid rgba(255, 255, 255, 1);
  }


.patrick.testimonial {
    grid-column: 2 / 5;
    grid-row: 2 / 3;
    background-color: rgba(25, 32, 45, 1);
}


@media(max-width: 375px) {
    .patrick.testimonial {
        grid-column: 1;
    }
}

.patrick.img-container {
    border: 2px solid rgba(115, 63, 200, 1);
  }

.kira.testimonial {
    
    grid-row: 1 / 3;
    
}


@media(max-width: 375px) {
    .kira.testimonial {
        grid-column: 1;
    }
}


/*color adjustments on the tiles */

.daniel .name,
h1 {
    color: var(--white-100)
}

.daniel .name,
.jonathan .name,
.patrick .name{
    color: var(--white-100)
}


.kira h1,
.jeanette h1 {
    color: var(--grey-100)
}

.kira .verification,
.jeanette .verification {
    color: rgba(72, 85, 106, 1);
}




